
.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    font-family: Verdana, sans-serif;
  }
  
  header {
    flex: 0 80px;
    font-family: Verdana, sans-serif;
    background: Plum;
    color:Purple; 
  
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, sans-serif;
    background: LavenderBlush;
  
  }
  
  footer {
    flex: 0 30px;
    font-family: Verdana, sans-serif;
    background: Plum;
    color: rgb(223, 115, 255);
  }
  
  

  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    font-family: Verdana, sans-serif;
    
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(255, 240, 245) thin;
    font-family: Verdana, sans-serif;
    color: rgb(179, 45, 215);
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
    
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

 #user-messages {
  background: rgb(255, 240, 245);
 }

  .quote {
    color: rgb(221, 160, 221);
    font-size: 14px;
  }

  .nav-link {
    color: rgb(177, 89, 202);
    
  }

  #head {
    color: rgb(177, 89, 202);
  }